body{
	background-color: #fff;
}
span{
	font-family: cursive;
	font-weight: bold;
	color: #A52A2A;
}
.jumbotron{
	background-image:url("image6.jpg");
	padding-bottom: 10px;
}
.jumbotron p{
	margin-top: 20px;
	margin-bottom:15px;
	font-size:21px;
	font-weight:200
	color: #fff;
}
.btn{
	vertical-align: middle;
	font-weight: bold;
}
#sitetitle{
	font-size: 5em;
	vertical-align: middle;
	font-family: cursive;
	color: #fff; 
}
#logo{
	height: 100px;
	width: 100px;
	border-radius: 10px;
}
.btn .btn-lg .btn-block .omb_btn-google{
	background: #c32f10;
}
.btn .btn-lg .btn-primary .btn-block{
	color: #ffffff;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.text-center h1{
	color: #00008B;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
#subtitle{
	color: #FAEBD7
}